.footerStyle{
    background-color: rgba(128, 128, 128, 0.492);
    padding: 1px;
    color: rgb(66, 12, 12);
    margin-top: 4%;
    border-top: 1px solid rgb(66, 12, 12);
}
.footerStyle p{
    margin-top: 10px;
    margin-left: 42%;
    font-weight: bold;
    letter-spacing: 1px;
}